In [5]:
import pandas as pd
import odfpy

ModuleNotFoundError: No module named 'odfpy'

In [3]:
df = pd.read_csv(r'/home/dell/Documents/SUM2024_Practicing/stats.csv')

In [7]:
df

  person  salary country
0      A   40000     USA
1      B   32000  Brazil
2      C   45000   Italy
3      D   54000     USA
4      E   72000     USA
5      F   62000  Brazil
6      G   92000   Italy
7      H   55000     USA
8      I   35000   Italy
9      J   48000  Brazil

In [11]:
mean1 = df['salary'].mean()
print(mean1)

53500.0

In [8]:
sum1 = df['salary'].sum()
sum1

535000

In [13]:
max1 = df['salary'].max()
max1

92000

In [14]:
min1 = df['salary'].min()
min1

32000

In [15]:
count1 = df['salary'].count()
count1

10

In [16]:
median1 = df['salary'].median()
median1

51000.0

In [17]:
std1 = df['salary'].std()
std1

18222.391598128816

In [18]:
var1 = df['salary'].var()
var1

332055555.5555556

In [20]:
#group by
groupby_sum1 = df.groupby(['country']).sum()
groupby_sum1

        person  salary
country
Brazil     BFJ  142000
Italy      CGI  172000
USA       ADEH  221000

In [21]:
groupby_count1 = df.groupby(['country']).count()
groupby_count1

         person  salary
country
Brazil        3       3
Italy         3       3
USA           4       4

In [3]:
df1 = pd.read_csv(r'/home/dell/Documents/SUM2024_Practicing/my_products.csv')
df1

    product brand  price
0  Computer     A   1200
1    Tablet     B    350
2   Printer     C    120
3   Monitor     D    400
4  Keyboard     E     80

In [7]:
df2 = pd.DataFrame(df1, columns = ["product","price"])
df2

    product  price
0  Computer   1200
1    Tablet    350
2   Printer    120
3   Monitor    400
4  Keyboard     80

In [10]:
x1 = str(input())
path = r'/home/dell/Documents/SUM2024_Practicing/sale_' + x1 + '.csv'
df3 = pd.read_csv(path)
df3

 23042024

FileNotFoundError: [Errno 2] No such file or directory: '/home/dell/Documents/SUM2024_Practicing/sale_23042024.csv'

In [6]:
df = pd.read_excel('/home/dell/Documents/SUM2024_Practicing/Pandas/my_products.xlxs')
df

ImportError: Missing optional dependency 'odfpy'.  Use pip or conda to install odfpy.